parameters:

    paths:
        - src
        - tests

    # The level 10 is the highest level
    level: 5

    ignoreErrors:
        - '#Access to protected property#'
        - '#should return#'
        - '#Call to an undefined static method#'
        - '#Call to an undefined method#'
        - '#Call to static method#'
        - '#Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Pending#'
        - '#.mergeCasts. will always evaluate to true#'
        - '#Call to function method\_exists\(\) with#'
        - '#Access to an undefined property Illuminate\\Database\\Query\\Builder\:\:\$scopes#'

    excludePaths:

    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    reportAlwaysTrueInLastCondition: true
    reportWrongPhpDocTypeInVarTag: true
    checkMissingCallableSignature: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportAnyTypeWideningInVarTag: true
